<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/materialize.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right"></a>
        <ul id="nav-mobile" class="left">
            <li>
                <span>Current user is: </span>
                <span th:text="${userName}"></span>
            </li>
            <li>
                <a href="/logout">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card center">
    <div th:if="${tests.size() > 0}">
        <table class="centered striped highlighted">
            <thead>
            <tr>
                <th>Test ID</th>
                <th>Test Title</th>
                <th>Questions count</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tasksList" th:each="test : ${tests}">
            <tr>
                <td th:text="${test.getId()}"></td>
                <td th:text="${test.getTestTitle()}"></td>
                <td th:text="${test.getQuestions().size()}"></td>
                <td>
                    <a style="cursor: pointer" th:href="'/view/' + ${test.getId()}">Go</a><br>
                    <a style="cursor: pointer" th:onclick="'deleteTest(' + ${test.getId()} +')'">Delete</a><br>
                    <a style="cursor: pointer" th:href="'/edit/' + ${test.getId()}">Edit</a><br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="padding: 20px" th:unless="${tests.size() > 0}">
        No tests found. You can create it.
    </div>
</div>
<div id="createTestModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h5>Create test</h5>
        <form id="createTestForm">
            <div class="input-field">
                <input id="testTitle" type="text" class="validate">
                <label for="testTitle">Test title</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a onclick="createTest($('#createTestForm'))" class="waves-effect waves-green btn-flat">Create</a>
    </div>
</div>
<div class="fixed-action-btn">
    <a onclick="initForm()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>
</body>
</html>